#login, #register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8ECAE6;
  padding: 40px 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 40px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #023047;
  margin-top: 160px;
}

#register{
  height: 70%
}

#signin-logo, #signup-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

#signin-header, #signup-header {
  font-size: 32px;
  color: #023047;
  margin-bottom: 20px;
  font-family: 'Teko', sans-serif;
}

.signin-div, .signup-div {
  width: 100%;
}

form {
  
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
}

form div {
  
  display: flex;
  flex-direction: column;
  
}

form p{
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 18px;
  padding: 10px;
  border: 2px solid #FFB703;
  border-radius: 5px;
  background-color: #ffffff;
  color: #023047;
  font-family: 'Teko', sans-serif;
  transition: border-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #219EBC;
  outline: none;
}

input[type="checkbox"]{
  margin: none;
  display: inline-block;
}

#next-btn {
  padding: 12px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  background-color: #FB8500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Teko', sans-serif;
  transition: background-color 0.3s ease;
  margin-left: 2%;
}

#next-btn:hover {
  background-color: #FFB703;
}

#error-msg {
  display: none;
  color: #FB8500;
  font-size: 16px;
  font-family: 'Teko', sans-serif;
  margin-top: 10px;
}

#error-msg h4 {
  margin: 0;
}

form a {
  color: #219EBC;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: 'Teko', sans-serif;
  
}

form a:hover {
  color: #FB8500;
}